body {
    background-color: rgb(221, 245, 245);
}

h1 {
    color: teal;
}

.main-content{
    background-color: white;
}


.navbar-light .navbar-brand {
    background-color: teal;
    color: white;
}