body {
  background-color: rgb(221, 245, 245);
}

h1 {
  color: teal;
}

/* navbar color change */
.navbar-light .navbar-brand {
  background-color: teal;
  color: white;
}

#navbar-style {
    margin-bottom: 60px;
}

/* main content box */
.main-content {
  background-color: white;
}

.about-image {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
}

#footer-sec {
  margin-top: 60px;
  padding: 12px;
  border-top: 7px solid teal;
  background-color: rgb(85, 85, 85);
}